[submodule "cxx_dependency/propertytree"]
	path = cxx_dependency/propertytree
	url = git@github.com:therooftopprinz/propertytree.git
[submodule "cxx_dependency/cum"]
	path = cxx_dependency/cum
	url = git@github.com:therooftopprinz/cum.git
[submodule "cxx_dependency/logless"]
	path = cxx_dependency/logless
	url = git@github.com:therooftopprinz/logless.git
[submodule "cxx_dependency/bfc"]
	path = cxx_dependency/bfc
	url = git@github.com:therooftopprinz/bfc.git
